NEXT_PUBLIC_APP_URL=http://localhost:3000
# NEXT_PUBLIC_APP_URL=https://sumoqubes-site2.vercel.app/

# REQUIRED Environment variables
OST_GITHUB_ID=Ov23lioRZ1stxznEsq7n
OST_GITHUB_SECRET=64b575ad26e929ec00c7551c51a02b1619bada3b
OST_REPO_SLUG=sumoqubes-site2
# If empty AND on Vercel, your OST_REPO_SLUG defaults to VERCEL_GIT_REPO_SLUG

# OPTIONAL Environment variables

# If empty, OST_REPO_BRANCH defaults to main
OST_REPO_BRANCH=main

# If empty, OST_REPO_OWNER the GitHub username of the logged in account will be used
OST_REPO_OWNER=Moykul

# OST_CONTENT_PATH is the path of where content is saved, if empty it defaults to outstatic/content
OST_CONTENT_PATH=outstatic/content 

# Specify monorepo folder of your Outstatic content
# OST_MONOREPO_PATH=apps/web

# For more information visit: https://outstatic.com/docs/environment-variables
